<div class="card border-top-0" *ngIf="isReady">
  <div class="card-body">
    <h5 class="card-title">
      <span [innerHTML]="safeName"></span>
    </h5>
    <lib-editable-json-schema-form
      [entity]="entity"
      [saveValue]="saveValueMethod"
      [schema]="schema"
      [layout]="layout"
      (onCancel)="cancelAction()"
      [deleteValue]="deleteValueMethod"
      [actions]="actions"
      [crud]="crud"
      [runAction]="runActionMethod"
    >
    </lib-editable-json-schema-form>
  </div>
</div>
