<div
  class="mx-4 my-2"
  cdkDropList
  [id]="'dropList' + objectTree.treeNode.id"
  [cdkDropListData]="objectTree.children"
  [cdkDropListConnectedTo]="['dropList' + objectTree.treeNode.id]"
  (cdkDropListDropped)="onChildDrop($event)"
>
  <div
    class="card"
    *ngFor="let child of objectTree.children"
    cdkDrag
    [ngStyle]="{
      cursor: 'move'
    }"
  >
    <div class="input-group input-group-sm">
      <span
        class="form-control form-control-plaintext form-control-sm text-muted bg-light px-2"
        [attr.aria-describedby]="'child_' + child.id"
      >
        <i-bs name="arrow-down-up" class="align-middle"></i-bs>
        {{ child.treeNode.objectTypeId }}
      </span>

      <div class="input-group-append" [id]="'child_' + child.id">
        <button
          class="btn btn-sm btn-light"
          type="button"
          *ngIf="child.entityCtx.aclCtx.rights.delete"
          (click)="deleteNode(child, $event)"
        >
          <i-bs name="trash" class="align-middle"></i-bs>
        </button>
        <button
          class="btn btn-sm btn-light"
          (click)="displayNode(child, $event)"
          type="button"
        >
          <i-bs name="eye" class="align-middle"></i-bs>
        </button>
      </div>
    </div>
    <div class="card-body p-2">
      <p class="card-text">
        <span
          app-admin-node-preview
          [objectTree]="child"
          [ngStyle]="{
            cursor: 'pointer'
          }"
          (click)="displayNode(child, $event)"
        ></span>
      </p>
    </div>
  </div>
</div>
<ng-template #deleteModalTemplate>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button
      id="confirmButton_{{ _id }}"
      type="button"
      class="btn btn-primary"
      (click)="confirmDelete()"
      autofocus
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-default ml-2"
      (click)="deleteModalRef.hide()"
    >
      No
    </button>
  </div>
</ng-template>
