<div *ngIf="objectTree; else noTree">
  <div
    *ngIf="parentTree"
    class="mt-2 top-navbar-container bg-white"
    style="z-index: 9"
    appResize
    (sizeChanged)="setNavbarSize($event)"
  >
    <div class="top-navbar">
      <div class="btn-group btn-group-sm top-navbar-inside" role="group">
        <button
          type="button"
          class="btn btn-light px-1 w-nav text-truncate text-left"
          (click)="displayNode(previousTree, $event)"
          [disabled]="!previousTree"
        >
          <i-bs name="box-arrow-left" class="align-middle"></i-bs>
          <ng-container *ngIf="previousTree">
            <span
              app-admin-node-preview
              [objectTree]="previousTree"
              class="ml-sm-2 navbar-preview"
            ></span>
          </ng-container>
        </button>
        <button
          type="button"
          class="btn btn-light px-1 w-nav text-truncate text-left"
          (click)="displayNode(parentTree, $event)"
        >
          <i-bs name="box-arrow-up" class="align-middle"></i-bs>
          <span
            app-admin-node-preview
            [objectTree]="parentTree"
            class="ml-sm-2 navbar-preview"
          ></span>
        </button>
        <button
          type="button"
          class="btn btn-light px-1 w-nav text-truncate text-left"
          [disabled]="!nextTree"
          (click)="displayNode(nextTree, $event)"
        >
          <i-bs name="box-arrow-right" class="align-middle"></i-bs>
          <ng-container *ngIf="nextTree">
            <span
              app-admin-node-preview
              [objectTree]="nextTree"
              class="ml-sm-2 navbar-preview"
            ></span>
          </ng-container>
        </button>

        <button
          id="subNodeNav"
          type="button"
          class="btn btn-light dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [disabled]="0 === objectTree.children.length"
        >
          <i-bs name="box-arrow-down" class="align-middle"></i-bs>
        </button>
        <div class="dropdown-menu" aria-labelledby="subNodeNav">
          <a
            class="dropdown-item"
            (click)="displayNode(child, $event)"
            *ngFor="let child of objectTree.children"
          >
            <span app-admin-node-preview [objectTree]="child"></span
          ></a>
        </div>

        <button type="button" class="btn btn-light" (click)="refresh($event)">
          <i-bs name="arrow-repeat" class="align-middle"></i-bs>
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid node-container mt-2" [style.top]="navBarHeight">
    <div class="page-header">
      <h2 class="display-4 font-weight-light text-truncate text-secondary">
        <span app-admin-node-preview [objectTree]="objectTree"></span>
      </h2>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          [uiSrefActive]="'active'"
          [uiSref]="nodeViewStateName"
          [uiParams]="params"
          >Data</a
        >
      </li>
      <li class="nav-item" *ngIf="0 < objectTree.children.length">
        <a
          class="nav-link"
          [uiSrefActive]="'active'"
          [uiSref]="nodeListStateName"
          [uiParams]="params"
          >Contents</a
        >
      </li>

      <li class="nav-item dropdown d-block d-sm-none">
        <a
          class="nav-link dropdown-toggle"
          [class.active]="isCreationOrActionsActive"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Actions</a
        >
        <div class="dropdown-menu">
          <span class="dropdown-item-text" *ngIf="0 < creations.length"
            >Create</span
          >
          <a
            class="dropdown-item ml-2"
            *ngFor="let creation of creations"
            (click)="createNode(creation.typeId, $event)"
            [style.cursor]="'pointer'"
            ><i
              *ngIf="creation.icon"
              class="align-middle pr-1"
              [class]="creation.icon"
            ></i
            ><span [innerHTML]="creation.typeId" class="align-middle"> </span
          ></a>
          <div class="dropdown-divider" *ngIf="0 < creations.length"></div>

          <span class="dropdown-item-text" *ngIf="0 < moveTo.length"
            >Move to</span
          >
          <a
            class="dropdown-item ml-2"
            *ngFor="let move of moveTo"
            (click)="moveNode(move, $event)"
            [style.cursor]="'pointer'"
            ><span
              app-admin-node-preview
              [objectTree]="{
                treeNode: move.nodeName,
                entityCtx: { preview: move.preview }
              }"
            ></span
          ></a>
        </div>
      </li>
      <li
        class="nav-item dropdown d-none d-sm-block"
        *ngIf="0 < creations.length"
      >
        <a
          class="nav-link dropdown-toggle"
          [class.active]="isCreationActive"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Create</a
        >
        <div class="dropdown-menu">
          <a
            class="dropdown-item"
            *ngFor="let creation of creations"
            [style.cursor]="'pointer'"
            (click)="createNode(creation.typeId, $event)"
            ><i
              *ngIf="creation.icon"
              class="align-middle pr-1"
              [class]="creation.icon"
            ></i
            ><span [innerHTML]="creation.typeId" class="align-middle"> </span
          ></a>
        </div>
      </li>

      <li class="nav-item dropdown d-none d-sm-block" *ngIf="0 < moveTo.length">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Move to</a
        >
        <div class="dropdown-menu">
          <a
            class="dropdown-item"
            *ngFor="let move of moveTo"
            (click)="moveNode(move, $event)"
            [style.cursor]="'pointer'"
            ><span
              app-admin-node-preview
              [objectTree]="{
                treeNode: move.nodeName,
                entityCtx: { preview: move.preview }
              }"
            ></span
          ></a>
        </div>
      </li>
    </ul>
    <ui-view></ui-view>
  </div>
</div>
<ng-template #noTree>
  <app-admin-welcome></app-admin-welcome>
</ng-template>
