.top-navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.top-navbar {
  position: relative;
  width: calc(100% - 75px);
  margin: auto;
}

@media (max-width: 575.98px) {
  .navbar-preview::ng-deep {
    i {
      display: none;
    }
  }
}

.top-navbar-inside {
  width: 100%;
}
.w-nav {
  width: 30%;
}

.node-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}

.display-4 {
  line-height: 1.4;
}
