<div *ngIf="objectTree; else noTree">
  <div
    *ngIf="parentTree"
    class="mt-2 position-fixed w-100 bg-white"
    style="z-index: 9"
  >
    <div class="top-navbar">
      <div class="btn-group btn-group-sm top-navbar-inside" role="group">
        <button
          type="button"
          class="btn btn-light px-1 w-nav text-truncate text-left"
          (click)="displayNode(previousTree, $event)"
          [disabled]="!previousTree"
        >
          <i-bs name="box-arrow-left" class="align-middle"></i-bs>
          <ng-container *ngIf="previousTree">
            {{ previousTree.treeNode.name }}
          </ng-container>
        </button>
        <button
          type="button"
          class="btn btn-light px-1 w-nav text-truncate text-left"
          (click)="displayNode(parentTree, $event)"
        >
          <i-bs name="box-arrow-up" class="align-middle"></i-bs>
          {{ parentTree.treeNode.name }}
        </button>
        <button
          type="button"
          class="btn btn-light px-1 w-nav text-truncate text-left"
          [disabled]="!nextTree"
          (click)="displayNode(nextTree, $event)"
        >
          <i-bs name="box-arrow-right" class="align-middle"></i-bs>
          <ng-container *ngIf="nextTree">
            {{ nextTree.treeNode.name }}
          </ng-container>
        </button>

        <button
          id="subNodeNav"
          type="button"
          class="btn btn-light dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [disabled]="0 === objectTree.children.length"
        >
          <i-bs name="box-arrow-down" class="align-middle"></i-bs>
        </button>
        <div class="dropdown-menu" aria-labelledby="subNodeNav">
          <a
            class="dropdown-item"
            (click)="displayNode(child, $event)"
            *ngFor="let child of objectTree.children"
            >{{ child.treeNode.name }}</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid pt-4">
    <div class="page-header">
      <h2 class="display-4 font-weight-light text-truncate">
        {{ objectTree.treeNode.name }}
      </h2>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          [uiSrefActive]="'active'"
          [uiSref]="nodeViewStateName"
          [uiParams]="params"
          >Data</a
        >
      </li>
      <li class="nav-item" *ngIf="0 < objectTree.children.length">
        <a
          class="nav-link"
          [uiSrefActive]="'active'"
          [uiSref]="nodeListStateName"
          [uiParams]="params"
          >Contents</a
        >
      </li>
      <li class="nav-item dropdown" *ngIf="0 < creations.length">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Create</a
        >
        <div class="dropdown-menu">
          <a
            class="dropdown-item"
            *ngFor="let creation of creations"
            (click)="createNode(creation, $event)"
            >{{ creation }}</a
          >
        </div>
      </li>
    </ul>
    <ui-view></ui-view>
  </div>
</div>
<ng-template #noTree>
  <app-admin-welcome></app-admin-welcome>
</ng-template>
