<div *ngIf="isReady">
  <div>
    <button
      type="button"
      class="btn btn-outline-secondary btn-sm"
      (click)="refresh()"
    >
      Refresh
    </button>
    <button
      type="button"
      (click)="openWebSite()"
      *ngIf="hasWebSite"
      class="btn btn-outline-secondary btn-sm"
    >
      See Web Site
    </button>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <span [innerHTML]="title"></span>
      </h5>
      <lib-editable-json-schema-form
        *ngIf="!hideNode"
        [entity]="entity"
        [saveValue]="saveValueMethod"
        [schema]="schema"
        [layout]="layout"
        (onCancel)="cancelAction()"
        [deleteValue]="deleteValueMethod"
        [actions]="actions"
        [runAction]="runActionMethod"
      >
      </lib-editable-json-schema-form>
    </div>
  </div>
  <div *ngIf="!hideChildren">
    <ng-container *ngFor="let subType of subTypes">
      <app-object-node-children-accordion
        [objectSubType]="subType"
        [objectTree]="objectTree"
        *ngIf="subType.objectType"
      ></app-object-node-children-accordion>
    </ng-container>
  </div>
</div>
