<div
  class=""
  cdkDropList
  [id]="'dropList' + objectTree.treeNode.id"
  [cdkDropListData]="objectTree.children"
  [cdkDropListConnectedTo]="['dropList' + objectTree.treeNode.id]"
  (cdkDropListDropped)="onChildDrop($event)"
>
  <div
    class="card"
    *ngFor="let child of objectTree.children"
    cdkDrag
    [ngStyle]="{
      cursor: 'move'
    }"
  >
    <div class="card-body">
      <span class="card-title"
        ><h5
          class="d-inline"
          [ngStyle]="{
            cursor: 'pointer'
          }"
          (click)="setOpen(child, true)"
        >
          {{ child.treeNode.name }}
        </h5>
        <h6
          class="d-inline text-muted mx-2"
          [ngStyle]="{ 'font-size': 'small' }"
        >
          {{ child.treeNode.objectTypeId }}
        </h6>
        <a
          class="btn btn-sm btn-outline-secondary"
          (click)="setOpen(child, true)"
          >View</a
        ></span
      >
    </div>
  </div>
</div>
