<div class="card border-top-0" *ngIf="isReady">
  <div class="card-body">
    <lib-editable-json-schema-form
      [entity]="entity"
      [saveValue]="saveValueMethod"
      [schema]="schema"
      [layout]="layout"
      (onCancel)="cancelAction()"
      [deleteValue]="deleteValueMethod"
      [actions]="actions"
      [crud]="crud"
      [runAction]="runActionMethod"
      [currentMethod]="method"
      [hides]="{ entity: true, commands: true }"
    >
    </lib-editable-json-schema-form>
  </div>
</div>
