::ng-deep {
  .hideAccordion {
    display: none;
    overflow: hidden;
  }
  .fullScreen {
    position: absolute;
    top: 2.9rem;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;

    .hideAccordion {
      display: block;
    }
    .panel-collapse.collapse.in {
      &.show {
        display: block;
        position: fixed;
        top: 2.9rem;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: white;
        overflow-y: auto;
      }
    }
  }
}
/*
.fullScreen::ng-deep {
  .hideAccordion {
    display: block;
  }
  .panel-collapse.collapse.in {
    &.show {
      display: block;
      position: fixed;
      top: 2.9rem;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: white;
      overflow-y: auto;
    }
  }
}
*/
